*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    background:grey;
}
.nav{
    overflow: auto;
    max-width: 900px;
    margin:auto;
}
.logo{
    float:left;
}
.lists{
    float:right;
}
.lists li{
    float: left;
    list-style: none;
}
.lists a{
    text-decoration: none;
    color:black;
}
.logo{
    padding:30px;
    font-size: 30px;
    font-weight: bold;
}
.lists a{
    display: block;
    padding:20px;
    margin:10px;
}
